
@import 'variables';

h5, p, * {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    background-color: $light-gray;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;


    .container {
        background-color: $white;
        width: 15rem;
        border-radius: 10px;
        box-shadow: 5px 5px 18px 0px lightslategrey;
        padding: 0.8em {
            top: 0.6em
        };

        img{
            border-radius: 10px;
            width: 15rem;
            max-height: 20rem;
            margin: 0;
        }


        &__text {
            width: 14rem;
            text-align: center;
            margin: auto;

            &__emphasis {
                font-size: 1rem;
                font-weight: 600;
                color: $dark-blue;
                margin: 12px 0;
            }

            &__info {
                font-size: 12px;
                color: $grayish-blue;
                margin-bottom: 12px;
            }
        }
    }

}
